@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root {
  --main-color: #f8fafc;       /* A color variable */
  --base-padding: 16px;        /* A size variable */
  --heading-font: 'Inter', s-serif; /* A font variable */
}

/* In your main CSS file */
.dashboard {
  display: flex;
  justify-content: center;
  padding: 40px;
  background: #fff;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.peak-time {
    display: block;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    color: #555;
    padding: 40px;
}

.best-value {
    color: #000000;
}

#start-btn{
    background-color:#f3f4fa;
    color: rgb(41, 41, 41);
    border: 2px solid #c1c1c1;
    padding: 14px 32px;
    font-size: 18px;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
  }

#start-btn:hover {
    box-shadow: 0 5px 15px rgba(44, 44, 44, 0.4);
}

/* Click Event */
#start-btn:active {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Loading State */
#start-btn.loading {
    background-color: #fffacd;
    border-color: hsl(51, 100%, 50%);
    box-shadow: 0 0 0 3px rgba(255, 215, 0, 0.2), 0 5px 15px rgba(255, 215, 0, 0.3);
    animation: rotatingBorder 2s linear infinite;
}

/* Rotating border animation */
@keyframes spin {
   from {
    transform: rotate(0deg);
   }

   to{
    transform: rotate(360deg);
   }
}

/* Complete State */
#start-btn.complete {
    background-color: #f0fff1;
    border-color: #47c947;
    box-shadow: 0 0 0 3px rgba(71, 201, 71, 0.2), 0 5px 15px rgba(71, 201, 71, 0.3);
    animation: none;
}

/* To position it specifically */
.speed-loader-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
    width: 300px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 70px;    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-color);
    font-family: var(--heading-font);
    padding: 40px 20px;
}

p {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

/* Main Container */
.speed-test-results {
    display: flex;
    justify-content: center;
    gap: 20px;
    max-width: 1100px;
    margin: 0 auto;
    flex-wrap: wrap;        /* Allow wrapping on smaller screens */
}

/* Network Values in Number*/
.network-value {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 15px;
}

.numbers {
    font-size: 300px;
    font-weight: 400;
    color: #333;
    line-height: 1;

}

.units {
    font-size: 50px;
    color: #777
}

/* Box 1- Last Speed*/
.result-items:nth-child(1) {
    background:  #fff0f0;
    border: #c00101;
    border-width: 1px;
}

.result-items:nth-child(1) .value {
    color:#c00101
}

/* Box 2- Average Speed*/
.result-items:nth-child(2) {
    background:  #f0fff1;
    border: #47c947;
    border-width: 1px;
}

.result-items:nth-child(2) .value {
    color:#47c947
}

/* Box 3- Best Speed*/
.result-items:nth-child(3) {
    background:  #f0f6ff;
    border: #475ac9;
    border-width: 1px;
}

.result-items:nth-child(3) .value {
    color:#475ac9
}

/* Common Styles for all boxes */
 .result-items {
    padding: 28px 24px;
    text-align: center;
    border-radius: 16px;
    flex: 1;
    min-width: 220px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;
}

.result-items:hover {
    transform: translateY(-6px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.12);
}

/*Value*/
.value {
    display: block;
    font-size: 26px;
    font-weight: 800;
    line-height: 1.8;
}

/* Responsive */
@media (max-width: 768px) {
    .speed-test-results {
        flex-direction: column;
        align-items: center;
    }
    .result-items {
        max-width: 320px;
        width: 100%;
    }
}